<div class="divPageArticle">

    <div *ngIf="!ecranMobile" class="divFlecheRetour">
        <button mat-icon-button (click)="retourArriere()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <h4 *ngIf="erreurArticle" class="erreur">{{messageErreur}}</h4>
    
    <div class="divArticle" *ngIf="!erreurArticle">

        <div *ngIf="ecranMobile" class="divFlecheRetour">
            <button mat-icon-button (click)="retourArriere()">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <span class="titreArticleMobile">{{unArticle.titre}}</span>
        </div>

        <h2 *ngIf="!ecranMobile">{{unArticle.titre}}</h2>
        <br><br>
        <p>
            <span>
                {{unArticle.date}}
            </span>

            &nbsp; &nbsp; &nbsp;

            <span>
                {{unArticle.user.username}}
            </span>

            &nbsp; &nbsp; &nbsp;

            <br *ngIf="ecranMobile">
            <br *ngIf="ecranMobile">

            <span>
                {{unArticle.theme.nom}}
            </span>

        </p> <br><br>

        <p class="pContenu">
            {{unArticle.contenu}}
        </p><br><br>

        <hr><br><br>

        <h4 *ngIf="listeDesCommentaires.length > 0">Commentaires</h4><br *ngIf="!ecranMobile">

        <h4 *ngIf="listeDesCommentaires.length == 0">Aucun commentaires n'a été posté sur cet article actuellement.</h4> <br *ngIf="!ecranMobile">

        <div [ngClass]="{
            'divCommentaire': !ecranMobile,
            'divCommentaireMobile': ecranMobile
        }" *ngFor="let unCommentaire of listeDesCommentaires">

            <div class="divNomCommentateur">
                <span>{{unCommentaire.user.username}}</span>
            </div>

            <div class="divContenuCommentaire">
                <p>
                    {{unCommentaire.contenu}}
                </p>
            </div>
        </div>      

        <h4 class="erreur" *ngIf="erreurCreationCommentaire">
            {{messageErreurCreationCommentaire}}
        </h4>

        <div>
            <form [formGroup]="formGroupCreationCommentaire" (ngSubmit)="onSubmit()" [ngClass]="{
                'divForm': !ecranMobile,
                'divFormMobile': ecranMobile
            }">
         
                <div>
                    <textarea [ngClass]="{
                'textarea': !ecranMobile,
                'textareaMobile': ecranMobile
            }" formControlName="contenu" id="" placeholder="Ecrivez ici votre commentaire"></textarea>
                </div>

                <div class="boutonEnvoisMessage">
                    <button mat-raised-button class="boutonViolet">
                        <mat-icon>
                            send
                        </mat-icon>
                    </button>
                </div>
            </form>
        </div>       
        
    </div>

</div>



