<div class="divPageArticle">

    <div class="divFlecheRetour">
        <button mat-icon-button (click)="retourArriere()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <h4 *ngIf="erreurArticle" class="erreur">{{messageErreur}}</h4>

    <div class="divArticle" *ngIf="!erreurArticle">

        <h2>{{unArticle.titre}}</h2><br><br>
        <p>
            <span>
                {{unArticle.date}}
            </span>

            &nbsp; &nbsp; &nbsp;

            <span>
                {{unArticle.user.username}}
            </span>

            &nbsp; &nbsp; &nbsp;

            <span>
                {{unArticle.theme.nom}}
            </span>

        </p> <br><br>

        <p class="pContenu">
            {{unArticle.contenu}}
        </p><br><br>

        <hr><br><br>

        <h4 *ngIf="listeDesCommentaires.length > 0">Commentaires</h4><br><br>

        <h4 *ngIf="listeDesCommentaires.length == 0">Aucun commentaires n'a été posté sur cet article actuellement.</h4><br><br>

        <div class="divCommentaire" *ngFor="let unCommentaire of listeDesCommentaires">

            <div class="divNomCommentateur">
                <span>{{unCommentaire.user.username}}</span>
            </div>

            <div class="divContenuCommentaire">
                <p>
                    {{unCommentaire.contenu}}
                </p>
            </div>
        </div>      

        <h4 class="erreur" *ngIf="erreurCreationCommentaire">
            {{messageErreurCreationCommentaire}}
        </h4>

        <div>
            <form [formGroup]="formGroupCreationCommentaire" (ngSubmit)="onSubmit()" class="divForm">
         
                <div class="textarea">
                    <textarea formControlName="contenu" id="" cols="90" rows="7" placeholder="Ecrivez ici votre commentaire"></textarea>
                </div>

                <div class="boutonEnvoisMessage">
                    <button mat-raised-button class="boutonViolet">
                        <mat-icon>
                            send
                        </mat-icon>
                    </button>
                </div>
            </form>
        </div>       
        
    </div>

</div>



