<button class="boutonRetour" (click)="retourArriere()">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="divArticle">

    <h2>Titre de l'article</h2><br><br>
    <p>
        <span>
            Date
        </span>

        &nbsp; &nbsp; &nbsp;

         <span>
            Auteur
        </span>

        &nbsp; &nbsp; &nbsp;

         <span>
            Thème
        </span>

    </p> <br><br>

    <p>
        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Facere molestias ea similique 
        exercitationem nulla voluptates harum inventore 
        temporibus aut sunt fuga eius deleniti molestiae 
        voluptatum qui, excepturi porro doloremque laudantium?

        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Facere molestias ea similique 
        exercitationem nulla voluptates harum inventore 
        temporibus aut sunt fuga eius deleniti molestiae 
        voluptatum qui, excepturi porro doloremque laudantium?

        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Facere molestias ea similique 
        exercitationem nulla voluptates harum inventore 
        temporibus aut sunt fuga eius deleniti molestiae 
        voluptatum qui, excepturi porro doloremque laudantium?
    </p><br><br>

    <hr><br><br>

    <h4>Commentaires</h4>

</div>
