<div class="divIndex">
    
    <div class="divDesThemes">
        
        <div *ngFor="let unTheme of listeDesThemes" class="extraitTheme">

            <h5 class="titreTheme">{{unTheme.nom}}</h5>
            
            <p class="pContenuDescription">
                {{unTheme.description}}
            </p>

            <button *ngIf="!listeDesIdDesThemesAbonne.includes(unTheme.id)" class="boutonViolet" (click)="abonnement(unTheme.id)">S'abonner</button>
            <button *ngIf="listeDesIdDesThemesAbonne.includes(unTheme.id)" class="boutonGris" [disabled]="true">Déjà abonné</button>
         
        </div> 

        
    </div>
</div>
