.extraitTheme {
    background-color: #F5F5F5;
    width: 500px;
    height: 150px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.titreTheme {
    font-weight: 900;
}


.divDesThemes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}


.pContenuDescription{
    display: -webkit-box;          /* Nécessaire pour line-clamp */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;        /* Nombre de lignes à afficher */
    overflow: hidden;
}