.divFormulaire{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.divAbonnement{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.theme{
    width: 45%;
    background-color: #F5F5F5;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
}

.themeMobile{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
}

hr{
    width: 70%;
}