<br><br> <h1>
    Profil utilisateur
</h1>

<div class="divProfil">
    
    <div class="divFormulaire">
        <form [formGroup]="formModifProfil" (ngSubmit)="onSubmit()">
           
            <input formControlName="username" class="inputViolet" placeholder="Username"><br><br>

            <input formControlName="email" class="inputViolet" placeholder="Email"><br><br>
            
            <input formControlName="motDePasse" class="inputViolet" placeholder="Mot de passe"><br><br>
            
            <button class="boutonViolet" type="submit">Sauvegarder</button>
        </form>
    </div>
</div>

<br><br>
<hr>
<br><br>

<h1>
    Abonnements
</h1>

<div class="divAbonnement">

    <div class="theme">
        <h3>Titre du thème</h3><br>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dolore quae aperiam cupiditate. Mollitia
            nam dolor voluptatem consequatur quibusdam,
            exercitationem magnam quos molestias, 
            temporibus deserunt sit tempora at sed 
            ipsam ratione.
        </p><br><br>

        <button class="boutonViolet">Se désabonner</button>

    </div>


    <div class="theme">
        <h4>Titre du thème</h4><br>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dolore quae aperiam cupiditate. Mollitia
            nam dolor voluptatem consequatur quibusdam,
            exercitationem magnam quos molestias, 
            temporibus deserunt sit tempora at sed 
            ipsam ratione.
        </p><br><br>

        <button class="boutonViolet">Se désabonner</button>

    </div>


    <div class="theme">
        <h3>Titre du thème</h3><br>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dolore quae aperiam cupiditate. Mollitia
            nam dolor voluptatem consequatur quibusdam,
            exercitationem magnam quos molestias, 
            temporibus deserunt sit tempora at sed 
            ipsam ratione.
        </p><br><br>

        <button class="boutonViolet">Se désabonner</button>

    </div>




    <div class="theme">
        <h3>Titre du thème</h3><br>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dolore quae aperiam cupiditate. Mollitia
            nam dolor voluptatem consequatur quibusdam,
            exercitationem magnam quos molestias, 
            temporibus deserunt sit tempora at sed 
            ipsam ratione.
        </p><br><br>

        <button class="boutonViolet">Se désabonner</button>

    </div>


</div>