<br><br> <h1>
    Profil utilisateur
</h1>

<div class="divProfil">
    
    <div class="divFormulaire">
        <form [formGroup]="formModifProfil" (ngSubmit)="onSubmit()">
           
            <input formControlName="username" class="inputViolet" placeholder="Username"><br><br>

            <input formControlName="email" class="inputViolet" placeholder="Email"><br><br>
            
            <input formControlName="motDePasse" class="inputViolet" placeholder="Mot de passe"><br><br>
            
            <button class="boutonViolet" type="submit">Sauvegarder</button>
       
            <br>
            <span class="erreur">{{messageReponseModifProfil}}</span>
       
        </form>
    </div>
</div>

<br><br>
<hr>
<br><br>

<h1>
    Abonnements

    {{messageAucunAbonnement}}
</h1>

 


<div class="divAbonnement">

    <div *ngFor="let unAbonnement of listeDesThemesAbonne" [ngClass]="{
        'theme': !ecranMobile,
        'themeMobile': ecranMobile
    }">
        <h3>{{unAbonnement.theme.nom}}</h3><br>

        <p>
            {{unAbonnement.theme.description}}
        </p><br><br>

        <button class="boutonViolet" (click)="desabonner(unAbonnement.theme.id)">Se désabonner</button>

        <br><br>
        

    </div>

</div>