<button mat-icon-button (click)="retourArriere()">
  <mat-icon>arrow_back</mat-icon>
</button>

<h1>
    Créer un nouvel article
</h1>

<div class="divCreationArticle">
    
    <div class="divFormulaire">
        <form [formGroup]="formCreationArticle" (ngSubmit)="onSubmit()">
           
            <select  formControlName="id_theme" class="inputViolet">
                <option value="">Selectionner un thème</option>
                <option *ngFor="let theme of listThemes" [value]="theme.id">{{ theme.nom }}</option>
            </select><br><br>

            <input formControlName="titre" class="inputViolet" placeholder="Titre de l'article"><br><br>
            
            <textarea formControlName="contenu" class="inputViolet" placeholder="Contenu de l'article"></textarea><br><br>
            
            <button class="boutonViolet" type="submit">Créer</button>
        </form>
    </div>
    
</div>