<button mat-icon-button (click)="retourArriere()">
  <mat-icon>arrow_back</mat-icon>
</button>

<h1 *ngIf="afficherImgMobile">
    <img src="assets/logo_p6.png" alt="Profil" class="imageLogoMenu" width="50%">
</h1>

<h1>
    {{titre}}
</h1>

<div class="divConnection">
    
    <div class="divFormulaire">
        <form [formGroup]="formConnection" (ngSubmit)="onSubmit()">
            <span class="spanTitreForm">Nom d'utilisateur</span><br>
            <input formControlName="usernameOuEmail" class="inputBlanc"><br><br>

            <span class="spanTitreForm">Mot de passe</span><br>
            <input type="password" formControlName="motDePasse" class="inputBlanc"><br><br>
            
            <button class="boutonViolet" type="submit">Se connecter</button>
            
            <br>
            <span *ngIf="erreurConnection" class="erreur">
                {{messageErreur}}
            </span>
        </form>
        
    </div>
</div>