<div class="menuOrdinateur">
    <div class="divLogoMenuOrdinateur">
        <a routerLink="/index">
            <img src="assets/logo_p6.png" alt="Profil" class="imageLogoMenu">
        </a>
        </div>

    <nav class="divLienMenuOrdinateur">

        <div>
            <a routerLink="/deconnection">Se deconnecter</a>
        </div>

        <div>
            <a routerLink="/articles">Articles</a>
        </div>
        
        <div>
            <a routerLink="/themes">Thèmes</a>
        </div>

        <div class="divLogoMenuOrdinateur">
            <img src="assets/logo_p6.png" alt="Profil" class="imageLogoMenu">
        </div>
        
    </nav>

    
    
</div>