.menuOrdinateur{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuMobile{
    border: 1px solid black;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divLienMenuOrdinateur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;

}

.imageLogoMenu{
    height: 100px;
}

a{
    text-decoration: none;
}

.lienDeconnection{
    color: #A40F0F;
    font-weight: 700;
}


.lienClassique{
    color: #000000;
}


// css pour menu mobile :

.sidenav-container {
  height: 100vh;
}

.menu-mobile {
  width: 200px; /* largeur du menu */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-mobile a {
  margin-bottom: 15px;
  font-size: 18px;
  text-decoration: none;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 60px;
  border-bottom: 1px solid #ccc;
}
