<button mat-icon-button (click)="retourArriere()">
  <mat-icon>arrow_back</mat-icon>
</button>

<h1 *ngIf="afficherImgMobile">
    <img src="assets/logo_p6.png" alt="Profil" class="imageLogoMenu" width="50%">
</h1>


<h1>
    Inscription
</h1>

<div class="divInscription">
    
    <div class="divFormulaire">
        <form [formGroup]="formInscription" (ngSubmit)="onSubmit()">
            <span class="spanTitreForm">Nom d'utilisateur</span><br>
            <input formControlName="username" class="inputBlanc"><br><br>

            <span class="spanTitreForm">Email</span><br>
            <input formControlName="email" class="inputBlanc"><br><br>

            <span class="spanTitreForm">Mot de passe</span><br>
            <input type="password" formControlName="motDePasse" class="inputBlanc"><br><br>
            
            <button class="boutonViolet" type="submit">S'inscrire</button>
            
            <br>
            <span *ngIf="erreurInscription" class="erreur">
                {{messageErreur}}
            </span>
        
        </form>

        
    </div>
</div>