.extraitArticle {
    background-color: #F5F5F5;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;;
    padding: 5px;
}

.titreArticle {
    font-weight: 900;
}

.boutonFiltre{

    border: none;
    background-color: transparent;
}

.divFiltre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.boutonFiltre{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.divDesArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
