<div class="divIndex">
    <div class="divFiltre">

        <div>
            <button class="boutonViolet" routerLink="/creationArticle">Créer un article</button>
        </div>

        <div class="divBoutonFiltre">
            <button class="boutonFiltreAncien boutonFiltre" (click)="filtreAncien()">Trier par <mat-icon>arrow_downward</mat-icon> </button>
            <button class="boutonFiltreRecent boutonFiltre" (click)="filtreRecent()" style="display: none;">Trier par<mat-icon>arrow_upward</mat-icon> </button>
        </div>

    </div>

    <div class="divDesArticles">
        
        <div (click)="ouvrirUnArticle(unArticle.id)" *ngFor="let unArticle of listeDesArticles" class="extraitArticle">

            <h5 class="titreArticle">{{ unArticle.titre }}</h5>
            
            <span>{{ unArticle.date }}</span> &nbsp; &nbsp; &nbsp; <span>{{ unArticle.user.username }}</span>

            <p class="extraitContenuArticle">
               {{ unArticle.contenu }}
            </p>
        </div>

    </div>
</div>
