<div class="divIndex">
    <div class="divFiltre">

        <div>
            <button class="boutonViolet" routerLink="/creationArticle">Créer un article</button>
        </div>

        <div class="divBoutonFiltre">
            <button class="boutonFiltre" (click)="filtre()">Trier par <mat-icon>arrow_downward</mat-icon> </button>
        </div>

    </div>

    <div class="divDesArticles">
        
        <div class="extraitArticle">

            <h5 class="titreArticle">Titre</h5>
            
            <span>Date</span> &nbsp; &nbsp; &nbsp; <span>Auteur</span>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vel ducimus aliquam ab. Vel tempore atque laboriosam
                illo quam repellendus maxime magni quasi unde sequi 
                debitis, eos quisquam iusto placeat dicta.
            </p>
        </div>


        <div class="extraitArticle">

            <h5 class="titreArticle">Titre</h5>
            
            <span>Date</span> &nbsp; &nbsp; &nbsp; <span>Auteur</span>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vel ducimus aliquam ab. Vel tempore atque laboriosam
                illo quam repellendus maxime magni quasi unde sequi 
                debitis, eos quisquam iusto placeat dicta.
            </p>
        </div>



        <div class="extraitArticle">

            <h5 class="titreArticle">Titre</h5>
            
            <span>Date</span> &nbsp; &nbsp; &nbsp; <span>Auteur</span>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vel ducimus aliquam ab. Vel tempore atque laboriosam
                illo quam repellendus maxime magni quasi unde sequi 
                debitis, eos quisquam iusto placeat dicta.
            </p>
        </div>


        <div class="extraitArticle">

            <h5 class="titreArticle">Titre</h5>
            
            <span>Date</span> &nbsp; &nbsp; &nbsp; <span>Auteur</span>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vel ducimus aliquam ab. Vel tempore atque laboriosam
                illo quam repellendus maxime magni quasi unde sequi 
                debitis, eos quisquam iusto placeat dicta.
            </p>
        </div>
    </div>
</div>
