.extraitArticle {
    background-color: #F5F5F5;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.extraitArticle:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.titreArticle {
    font-weight: 900;
}

.boutonFiltre{

    border: none;
    background-color: transparent;
}

.divFiltre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.divFiltreMobile{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.boutonFiltre{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

.divDesArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.extraitContenuArticle{
    display: -webkit-box;          /* Nécessaire pour line-clamp */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;        /* Nombre de lignes à afficher */
    overflow: hidden;
}
