.menuOrdinateur{
   display: none;
}

.divLienMenuOrdinateur{
   display: none;
}
  
.divAccueil{
   width: min-content;
   margin: auto;
}

.divBoutonAccueil{
   width: 80%;
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.divBoutonAccueilMobile{
   width: 80%;
   height: 200px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.imageAccueilMobile{
  width: 300px;
}